phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
google-generativeai
python-multipart
sqlalchemy
pgvector
psycopg[binary]
pypdf
sentence-transformers
langgraph
langsmith
langchain
langchain_community
faiss-cpu
langchain_groq